*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: system-ui, —apple-system, Segoe UI, Rototo, Helvetica, Arial,
		sans-serif;
	color: var(--color-font);
}

/* #f15398,#d0152c,#f8c0da,#cf6a4f,#e47ca2 */
:root {
	--color-background: #fff;
	--color-background-grey: #f2f3f4;
	--color-background-shadow: rgba(0, 0, 0, 0.3);
	--color-main: #f15398;
	--color-main-negative: #f8c0da;
	--color-main-detail: #cf6a4f;
	--color-main-4: #e47ca2;
	--color-main-5: #d0152c;
	/* font-color */
	--color-font: #2e3030;
	--color-font-grey: #999;
	--color-font-light: #bba8a8;
	/* border */
	--color-border: #e4e4e4;
	--radius: 4px;
	/* font-size */
	--font-size-xxs: 8px;
	--font-size-xs: 10px;
	--font-size-s: 12px;
	--font-size-xm: 14px;
	--font-size-m: 16px;
	--font-size-l: 18px;
	--font-size-xl: 20px;
	--shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
	/* animation */
	--duration: 0.3s;
}

/* ant design */
:root:root {
	--adm-color-primary: var(--color-main);
	--adm-font-size-7: var(--font-size-xm);
	--adm-font-size-9: var(--font-size-xm);
}

.adm-dropdown-popup .adm-dropdown-popup-body .header-menus {
	padding: 10px;
	display: flex;
	justify-content: space-around;
}
.adm-dropdown-popup .adm-dropdown-popup-body .header-menus a {
	margin: 5px;
	color: var(--color-font-grey);
}
.adm-dropdown-popup .adm-dropdown-popup-body .header-menus a.active {
	color: var(--color-main);
}
